@import url("hack-font/build/web/hack.css");
@import url("spinkit/spinkit.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font: "Hack";
  --background: #0f0e17;
  --foreground: #fffffe;
  --primary: #81d4fa;
  --light: #62efff;
  --dark: #008ba3;
  --orange: #f57c00;
  --pink: #c2185b;
  --branch: 1px solid #a7a9be;
}

#app {
  @apply w-full h-full fixed top-0 left-0 text-xs antialiased;

  font-family: var(--font), system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: var(--foreground);
  background-color: #242424;
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  @apply text-sm;

  display: inline;
  font-family: var(--font);
  font-weight: normal;
  color: var(--light);
}

a {
  font-family: var(--font);
  color: var(--foreground);
  text-decoration: none;
  outline: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

span {
  color: var(--primary);
}

ul {
  list-style: none;
  padding-left: 1.5rem;
}

li {
  position: relative;
}

li::before,
li::after {
  content: "";
  position: absolute;
  left: -0.75rem;
}

li::before {
  border-top: var(--branch);
  top: 0.75rem;
  width: 0.5rem;
}

li::after {
  border-left: var(--branch);
  height: 100%;
  top: 0.25rem;
}

li:last-child::after {
  height: 0.5rem;
}

form h1 {
  padding-left: 0.125rem;
}

input {
  font-family: var(--font);
  color: var(--foreground);
  background-color: var(--background);
  border: none;
}

footer {
  @apply text-xs;

  display: block;
  margin-top: 1rem;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #57546d;

  a {
    color: #57546d;
  }

  .column.center {
    text-align: center;
  }
}

a:hover {
  color: var(--background);
  background: var(--primary);
}

.not-revealed {
  display: none;
}

.revealed {
  display: block;
}

.column {
  flex: 1;
}

.hidden {
  display: none;
}

.ascii-output {
  @apply text-xs;

  font-family: var(--font);
  color: var(--foreground);
  font-weight: bold;
}

.json-output {
  font-family: var(--font);
  color: var(--foreground);
}

.json-modal {
  background-color: var(--foreground);
}

.prompt {
  font-family: var(--font);
  color: var(--foreground);
}

.prompt ~ .prompt {
  padding: 1.1rem 0 0.3125rem;
}

.tree > ul {
  margin: 0;
  padding-left: 1rem;
}

.modal {
  padding: 1.8rem 2.16rem 0.9rem;
  width: 550px;
  max-width: 1300px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0 0 0 0.2);
}

button {
  @apply text-xs;

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
